@font-face {
    font-family: 'Orbitron 400';
    src: url('assets/fonts/orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron 800';
    src: url('assets/fonts/orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 800;
    font-style: bold;
}


@font-face {
    font-family: 'Handjet 400';
    src: url('./assets/fonts/handjet/Handjet-VariableFont_ELGR,ELSH,wght.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Handjet 800';
    src: url('./assets/fonts/handjet/Handjet-VariableFont_ELGR,ELSH,wght.ttf');
    font-weight: 800;
    font-style: bold;
}

body {
    font-family: 'Orbitron 800', sans-serif;
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

#background-image {
    width: 100vw;
    position: absolute;
    filter: grayscale(0.2) blur(2px) brightness(0.7);
    z-index: -2;
    object-fit: contain;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-size: 7rem;
    color: #ffae21c5;
}

button:hover {
    cursor: pointer;
}

.d_none {
    display: none !important;
}

.type-normal    { 
    background-color: hsl(59, 21%, 57%, 0.659); 
}
.type-fire      { 
    background-color: hsl(26, 85%, 56%, 0.659); 
}
.type-water     { 
    background-color: hsl(221, 82%, 66%, 0.659); 
}
.type-electric  { 
    background-color: hsl(48, 93%, 57%, 0.659); 
}
.type-grass     { 
    background-color: #478d1fa8; 
}
.type-ice       { 
    background-color: hsl(177, 47%, 72%, 0.659); 
}
.type-fighting  { 
    background-color: hsl(2, 66%, 46%, 0.659); 
}
.type-poison    { 
    background-color: hsl(301, 45%, 44%, 0.659); 
}
.type-ground    { 
    background-color: hsl(43, 68%, 64%, 0.659); 
}
.type-flying    { 
    background-color: hsl(256, 81%, 76%, 0.659); 
}
.type-psychic   { 
    background-color: hsl(342, 93%, 65%, 0.659); 
}
.type-bug       { 
    background-color: hsl(67, 75%, 41%, 0.659); 
}
.type-rock      { 
    background-color: hsl(50, 54%, 46%, 0.659); 
}
.type-ghost     { 
    background-color: hsl(266, 27%, 47%, 0.659); 
}
.type-dragon    { 
    background-color: hsl(257, 97%, 60%, 0.659); 
}
.type-dark      { 
    background-color: hsl(24, 23%, 36%, 0.659); 
}
.type-steel     { 
    background-color: hsl(240, 19%, 76%, 0.659); 
}
.type-fairy     { 
    background-color: hsl(330, 50%, 68%, 0.659); 
}