#types-div {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#types-category-div {
    position: relative;
    top: -1rem;
}

.type-text {
    visibility: hidden;
    position: absolute;
    z-index: 3000;
    background-color: rgba(117, 117, 117, 0.774);
    top: 100%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.types-categories {
    height: 3rem;
    padding-left: 1rem;
    cursor: pointer;
}

#types-category-div:hover .type-text{
    visibility: visible;
    opacity: 1;
}

#types-category-div:hover .types-categories{
    transform: scale(1.4);
    transition: transform 0.2s ease;
}

#selected-type-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;

}

#filter-type-icon {
    height: 2rem;
    align-items: center;
}

#selected-filter {
    padding-left: 1rem;
}

#filter-clear-btn {
    border: none;
    background-color: rgba(240, 248, 255, 0.164);
    font-size: 1.5rem;
    padding-block: 0;
    padding-inline: 0.5rem;
}

