#pokedex-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6000;
}

#pokedex-closed-img {
    height: 80rem;
}

#pokedex-closed-img:hover {
    cursor: pointer;
}

.pokedex-gif {
    height: 90rem;
}

#poke-details-type-icons {
    height: 2rem;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-pokeball {
    height: 20rem;
}
