#pokedex-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6000;
}

#pokedex-closed-img {
    height: 80rem;
}

#pokedex-closed-img:hover {
    cursor: pointer;
}

.pokedex-gif {
    height: 90rem;
}

#background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
}

#poke-details-type-icons {
    height: 2rem;
}

#poke-details-div-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 2rem;
    font-size: 2rem;
    z-index: 100;
}

#poke-details-div-overlay p{
    margin-block-start: 0;
    margin-block-end: 0;
}

#poke-details-img-stats-div {
    width: 50%;
    padding-left: 2rem;
}

#poke-details-img-div {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 200px;
    width: fit-content;
}

#poke-details-img {
    height: 16rem;
}

#poke-details-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    background-color: rgba(24, 24, 24, 0.295);
    border: none;
    filter: drop-shadow(50%);
}

#poke-details-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-details-types-div {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 0.5rem;
}

.poke-details-type-name {
    padding-left: 1rem;
}

#poke-details-name-div {
    display: grid;
    grid-template-columns: max-content 90%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 70%;
    width: 50%; 
    padding-top: 2rem;
    margin-right: 6rem;
}

#poke-details-name-div ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#poke-details-name {
    text-align: center;
}

.poke-details-position {
    padding-left: 1rem;
}

.pd_padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

#poke-details-name-div > *:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 8px;
}

#poke-details-stats-div {
    padding-top: 1rem;
    width: 100%;
}

.stat-row {
    margin-bottom: 0.5rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.stat-label {
  display: inline-block;
  width: 30%;
  text-transform: capitalize;
  font-weight: bold;
  padding-bottom: 5px;
}

.stat-bar-bg {
    display: inline-block;
    width: 40%;
    height: 12px;
    background-color: #0000008e;
    overflow: hidden;
    vertical-align: middle;
    border-style: solid;
    margin-left: 1rem;
    margin-right: 1rem;
}

.stat-bar-fill {
  height: 100%;
  background-color: #be3232cb;
}

#poke-details-abilities {
    height: 100%;
}

.sprite-grid-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: 1 / 2;
}

#forms-label {
  grid-column: 1;
  align-self: center;
  width: fit-content;
  padding-right: 1rem;
}

#poke-sprite {
  grid-column: 2;
  height: 10rem;
  cursor: pointer;
}

#poke-details-sprite-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  grid-column: 2 / 3;
}

#poke-details-sprite-div img {
  height: 6rem;
  cursor: pointer;
}

.sprite-current-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: 1 / 2;
}

#poke-details-sprite-div img:hover{
    cursor: pointer;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}

#loading-pokeball {
    height: 20rem;
}
