@media(max-width: 1822px){
    #poke-details-name-div {
    width: 40%;
}
    #poke-details-img-stats-div {
    width: 60%;
}
}

@media(max-width: 1520px){
    #poke-details-div-overlay {
    font-size: 1.5rem;
}
}

@media(max-width: 1354px){
    #poke-div {
    grid-template-columns: repeat(5, 10.5rem);
}
}

@media(max-width: 1230px){
    #poke-details-name-div {
    width: 30%;
}
    #poke-details-img-stats-div {
    width: 70%;
}
    #poke-details-sprite-div img {
    height: 4rem;
}
}

@media(max-width: 1134px){
    #poke-div {
    grid-template-columns: repeat(4, 10.5rem);
}
}

@media(max-width: 1060px){
    #pokemon-details-div {
    width: 90%;
    left: 5%;
}
}

@media(max-width: 950px){
    #poke-details-name-div {
    width: 40%;
}
    #poke-details-img-stats-div {
    width: 60%;
}
    #poke-details-div-overlay {
    font-size: 1rem;
}
}

@media(max-width: 898px){
    #poke-div {
    grid-template-columns: repeat(3, 10.5rem);
}
    
    #types-div {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media(max-width: 898px){
    #selected-type-text {
    width: 60%;
}
}

@media(max-width: 816px){
    #poke-details-stats-div {
    padding-top: 4rem;
}
    #poke-details-img {
    height: 13rem;
}
    #poke-details-name-div {
    gap: 1.5rem;
    padding-left: 2rem;
}
}

@media(max-width: 802px){
    #poke-details-div-overlay {
    flex-direction: column;
    align-items: center;
    
}
    #poke-details-img-stats-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
    #poke-details-stats-div {
        padding-left: 4rem;
        width: 50%;
    }
        #poke-details-name-div {
        width: 80%;
    }
}

@media(max-width: 725px){
    header {
        align-items: center;
    }
    h1 {
        font-size: 5rem;
    }
    
    #pokedex-opened-img {
        height: 5rem;
    }
}

@media(max-width: 706px){
    #poke-details-stats-div {
        padding-left: 4rem;
        width: 60%;
    }
        #poke-details-name-div {
        padding-left: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
       
}

@media(max-width: 676px){
    #poke-div {
    grid-template-columns: repeat(2, 10.5rem);
    }
}

@media(max-width: 632px){
    #poke-details-img-stats-div {
        justify-content: space-between;
    }
    #poke-details-stats-div {
        padding-left: 2rem;
        width: 60%;
    }
    #poke-details-img {
    height: 11rem;
}       
}

@media(max-width: 586px){
    #poke-details-img-stats-div {
    flex-direction: column;
}
    #poke-details-stats-div {
        width: 100%;
        padding-top: 1rem;
    }
    .stat-row {
        width: 100%;
    }
        #poke-details-name-div {
        width: 80%;
    }
        #poke-details-name-div {
        gap: 1rem;
    }
    #poke-details-abilities {
    height: 80%;
}
    #pokemon-details-div {
    position: fixed;
    top: 5rem;
    left: 5%;
}
    #search-bar {
        width: 80%;
    }
    #input-bar {
        display: flex;
        flex-direction: column;   
    }

}

@media(max-width: 548px){
    h1 {
        font-size: 4rem;
    }
    
    #pokedex-opened-img {
        height: 4rem;
    }

    .types-categories {
    height: 2rem;
}
}

@media(max-width: 444px){
    #poke-div {
    grid-template-columns: repeat(2, 8.5rem);
}
    h1 {
        font-size: 3rem;
    }
    
    #pokedex-opened-img {
        height: 3rem;
    }

    #types-div {
        padding-left: 0;
        padding-right: 1rem;
        gap: 0.5rem;
    }
    #selected-type-text {
    width: 80%;
}
    #poke-details-name-div {
    width: 70%;
}
    #poke-details-sprite-div img {
        height: 3rem;
    }
    #search-bar {
        width: 60%;
    }
    #input-bar {
        display: flex;
        flex-direction: column;   
        width: 100%;
    }
    #search-feedback {
        text-align: center;
    }
}

@media(max-width: 390px){
    #poke-details-stats-div {
        padding-left: 0.5rem;
        width: 90%;
    }
}

@media(max-width: 379px){
    #poke-div {
    grid-template-columns: repeat(2, 7.5rem);
}
}

@media(max-width: 358px){
    #types-div {
        grid-template-columns: repeat(5, 1fr);
    }
    #poke-img-image {
    height: 6rem;
}
}

@media(max-width: 346px){
    #poke-div {
    grid-template-columns: repeat(2, 5.5rem);
}
    #poke-details-stats-div {
        padding-left: 0;
    }
}

@media(min-width: 1606px){
    #poke-div {
    grid-template-columns: repeat(7, 10.5rem);
}
}

@media(min-width: 1782px){
    #poke-div {
    grid-template-columns: repeat(8, 10.5rem);
}
}

@media(min-width: 2022px){
    #poke-div {
    grid-template-columns: repeat(9, 10.5rem);
}
}

@media(min-width: 2278px){
    #poke-div {
    grid-template-columns: repeat(10, 10.5rem);
}
}